body {
    background-color: #121212;
    font-family: sans-serif
}

.navbar-dark {
    background-color: #121212
}

.nav-item {
    margin: 0 0.5rem
}

.main.container {
    color: white
}

.main.container a {
    color: white
}

.row {
    margin-bottom: 2rem
}

.card {
    background-color: #202020;
    position: relative
}

.card:hover a {
    text-decoration: none;
}

.card,
.card-img {
    border: none;
    border-radius: 0;
}

.page-link {
    color: #dc3545;
    background-color: #202020;
    border: 1px solid #3b3b3b;
}

.page-link:hover {
    color: #dc3545;
    background-color: #202020;
    border-color: #3b3b3b;
}

.page-link:focus {
    background-color: #202020;
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .25);
}

.page-item.disabled .page-link {
    color: #dc3545;
    opacity: 0.5;
    pointer-events: none;
    cursor: auto;
    background-color: #202020;
    border-color: #3b3b3b;
}

.page-item.active .page-link {
    background-color: #dc3545;
    border-color: #dc3545;
}
